.modal {
    height: 500px;
    width: 300px;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 401;
    background-color: rgb(232, 232, 232);
    color: rgb(8, 8, 8);
    position: relative;
}

.modal-exit {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}