.modal {
    height: 500px;
    width: 300px;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 401;
    background-color: rgb(232, 232, 232);
    color: rgb(8, 8, 8);
    position: relative;
    transform: translateX(-300px);
    transition: transform 200ms ease-in-out;
    &.-open {
     transform: translateX(0);   
    }
}

.modal-exit {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 30px;

}