.trip-table__row-utility {
    position: relative;
    &:hover {
        .trip-table__mini-modal {
            display: flex;
        }
    }
}

.trip-table__mini-modal {
    position: absolute;
    top: -20px;
    left: 30px;
    display: none;
    height: 100%;
    width: 100%;
    width: 70px;
    height: 100px;
    flex-direction: column;
    button {
        padding: 20px;
        height: 50px;
        background-color: black;
        &:hover {
            background-color: rgb(38, 38, 38);
        }
        &:first-child {
            border-radius: 10px 10px 0 0;
        }
        &:last-child {
            border-radius: 0 0 10px 10px;
        }
    }
}

.trip-table {
   background-color: rgb(33, 33, 33);
   box-shadow: rgb(48, 48, 48) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   td, th {
    padding: 10px;
   }
   td {
    border-bottom: 1px solid rgb(48, 48, 48);
    border-top: 1px solid rgb(48, 48, 48);
   }
}