.left-utility-bar {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1000;
}

.left-utility-bar__btn{
    height: 30px;
    width: 30px;
    border-radius: 0 15px 15px 0;
    background-color: rgb(24, 24, 24);
    border: none;
    svg { 
        font-size: 20px;
        color: white;
    }
}