.reset {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reset__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f1f1f1;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .reset__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 62px;
  }
  .reset__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .reset div {
    margin-top: 7px;
  }

  .reset__link {
    text-decoration: none;
    &:visited {
      color: rgb(2, 6, 35);
    }
    font-weight: 600;
  }

  .reset__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .reset__title {
    text-transform: uppercase;
    font-size: 28px;
    align-self: flex-start;
    margin-bottom: 56px;
  }

